<?php

return [
    'curlDebug' => 0,   
    'defaultProvider' => 'vivaDEMO',
    'vivaDEMO' => [
        'VIVA_URL' => 'https://demo.vivapayments.com',
        'VIVA_ACCOUNT_URL' => 'https://demo-accounts.vivapayments.com',
        'VIVA_API_URL' => 'https://demo-api.vivapayments.com',
        'VIVA_API_KEY' => '&k*y&b',
        'VIVA_MERCHANT_ID' => '%%VIVA_MERCHANT_ID%%',
        'VIVA_SOURCE_CODE' => '%%VIVA_SOURCE_CODE%%',
        'VIVA_CLIENT_ID' => '%%VIVA_CLIENT_ID%%',
        'VIVA_CLIENT_SECRET' => '%%VIVA_CLIENT_SECRET%%',
        'VIVA_BANK_TRANSFER_URL_API' => 'https://demo.vivapayments.com/api/wallets/{{platformAccountId}}/commands/banktransfer/{{vendorAccountId}}',
        'VIVA_WALLET_TO_WALLET_URL_API'=>'https://demo.vivapayments.com/api/wallets/{{platformAccountId}}/balancetransfer/{{vendorAccountId}}',
        'VIVA_SMARTCHECKOUT_COLOR'=>'0d1bbd',
        'VIVA_DEBUG'=>1,
    ],

    'vivaPROD' => [
        'VIVA_URL' => 'https://www.vivapayments.com',
        'VIVA_ACCOUNT_URL' => 'https://accounts.vivapayments.com',
        'VIVA_API_URL' => 'https://api.vivapayments.com',
        'VIVA_API_KEY' => '&k*y&b',
        'VIVA_MERCHANT_ID' => '%%VIVA_MERCHANT_ID%%',
        'VIVA_SOURCE_CODE' => '%%VIVA_SOURCE_CODE%%',
        'VIVA_CLIENT_ID' => '%%VIVA_CLIENT_ID%%',
        'VIVA_CLIENT_SECRET' => '%%VIVA_CLIENT_SECRET%%',
        'VIVA_BANK_TRANSFER_URL_API' => 'https://vivapayments.com/api/wallets/{{platformAccountId}}/commands/banktransfer/{{vendorAccountId}}',
        'VIVA_WALLET_TO_WALLET_URL_API'=>'https://vivapayments.com/api/wallets/{{platformAccountId}}/balancetransfer/{{vendorAccountId}}',
        'VIVA_SMARTCHECKOUT_COLOR'=>'0d1bbd',
        'VIVA_DEBUG'=>1,
    ]
];